 <!DOCTYPE html>
 <html lang="en">

 <head>
 	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<meta http-equiv="X-UA-Compatible" content="ie=edge">
 	<title>Section 4</title>
 </head>

 <body>

 	<div id="app">
 		<ul>
 			<li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>

 			<template v-for="(ingredient, i) in ingredients">
 				<h2>{{ ingredient }}</h2>
 				<p> {{ i }} </p>
 			</template>

 			<li v-for="person in persons">{{ person.name }}, {{ person.age }}, {{ person.color }}</li>
 		</ul>
 	</div>

 	<script src=" https://unpkg.com/vue/dist/vue.js"> </script>
 	<script>
 		new Vue({
 			el: '#app',
 			data: {
 				ingredients: ['meat', 'fruit', 'cookies'],
 				persons: [{
 						name: 'Max',
 						age: 27,
 						color: 'red'
 					},
 					{
 						name: 'Anna',
 						age: 'unknown',
 						color: 'blue'
 					}
 				]
 			},
 		});
 	</script>
 </body>

 </html>