 <!DOCTYPE html>
 <html lang="en">

 <head>
 	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<meta http-equiv="X-UA-Compatible" content="ie=edge">
 	<title>Section 4</title>
 </head>

 <body>

 	<div id="app">
 		<p v-if="show">You can see me! <span> Extra nested</span></p>
 		<p v-else>Now you see me!</p>

 		<template v-if="show">
 			<p>Lorem ipsum dolor sit amet.</p>
 		</template>

 		<p v-show="show">Do you also see me?<span>Extra</span></p>

 		<button @click="showMe()">Vanish</button>
 	</div>

 	<script src=" https://unpkg.com/vue/dist/vue.js"> </script>
 	<script>
 		new Vue({
 			el: '#app',
 			data: {
 				show: true
 			},
 			methods: {
 				showMe() {
 					this.show = !this.show;
 				}
 			},
 		});
 	</script>
 </body>

 </html>