 <!DOCTYPE html>
 <html lang="en">

 <head>
 	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<meta http-equiv="X-UA-Compatible" content="ie=edge">
 	<title>Section 4</title>
 </head>

 <body>

 	<div id="app">
 		<ul>
 			<li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
 		</ul>
 		<button @click="ingredients.push('Spices')">Add ingredient</button>

 		<template v-for="(ingredient, i) in ingredients">
 			<h2>{{ ingredient }}</h2>
 			<p> {{ i }} </p>
 		</template>

 		<ul>
 			<li v-for="person in persons">
 				<div v-for="(value, key, i) in person">{{ key }}: {{ value }} ({{ i }})</div>
 			</li>
 		</ul>
 		<span v-for="n in 10"> {{ n }} </span>

 	</div>

 	<script src=" https://unpkg.com/vue/dist/vue.js"> </script>
 	<script>
 		new Vue({
 			el: '#app',
 			data: {
 				ingredients: ['meat', 'fruit', 'cookies'],
 				persons: [{
 						name: 'Max',
 						age: 27,
 						color: 'red'
 					},
 					{
 						name: 'Anna',
 						age: 'unknown',
 						color: 'blue'
 					}
 				]
 			},
 		});
 	</script>
 </body>

 </html>